flows-compute/flow/data/validate_in_place/flow.json
{
  "Comment": "Run a validation function on files in a local system path",
  "States": {
    "RunValidation": {
      "Comment": "Run a user-specified validation function on the dataset that returns {status: success|fail|error, message: str, data: ANY}",
      "Type": "Action",
      "ActionUrl": "https://compute.actions.globus.org",
      "Parameters": {
        "endpoint.$": "$.compute_endpoint_id",
        "function.$": "$.validation_function_uuid",
        "args.$": "$.validation_args",
        "kwargs.$":  "$.validation_kwargs",
        "__Private_Parameters": [
          "endpoint",
          "function"
        ]
      },
      "ExceptionOnActionFailure": true,
      "Catch": [
        {
          "Next": "ReportValidationFailure",
          "ErrorEquals": [
            "ActionUnableToRun",
            "ActionFailedException",
            "ActionTimeout"
          ]
        }
      ],
      "ResultPath": "$.run_validation",
      "Next": "EvaluateValidationResult"
    },
    "EvaluateValidationResult": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.run_validation.details.results[0].output.status",
          "StringEquals": "success",
          "Next": "ReportValidationSuccess"
        }
      ],
      "Default": "ReportValidationFailure"
    },
    "ReportValidationFailure": {
      "Type": "Fail",
      "Error": "ValidationFailed",
      "Cause": "File failed validation. Consult logs for details."
    },
    "ReportValidationSuccess": {
      "Type": "Pass",
      "InputPath": "$.run_validation.details.results[0].output",
      "ResultPath": "$",
      "End": true
    }
  },
  "StartAt": "RunValidation"
}